h1{font-size: 24px;}
h2{font-size: 20px;}
h3{font-size: 18px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
h6{font-size: 12px;}

.ellipsis {
  @include ellipsis;
}
.ellipsis2 {
  @include ellipsis("multi");
}
.ellipsis3 {
  @include ellipsis("multi", 3);
}
.ellipsis4 {
  @include ellipsis("multi", 4);
}

.txt_black {
  color: $black !important;
}

.txt_white {
  color: $white !important;
}
.txt_red {
  color: #DD4848 !important;
}
.txt_blue {
  color: #3076CB !important;
}
.ui_txt_org{
  color:#fbc831 !important;
}
.txt_gray {
  color: #666 !important;
}

.bg_gray{
  background-color: #efefef !important;
}


.col2,.col3,.col4,.col5{
  display: flex !important;
  &.wrap{
    flex-wrap: wrap;
  }
  .shrink {
    flex-shrink: 0;
  }
}
.col2 {
  &>.col {
    width: 50%;
  }
}
.col3 {
  &>.col {
    width: 33.3%;
  }
}
.col4 {
  &>.col {
    width: 25%;
  }
}
.col5 {
  &>.col {
    width: 20%;
  }
}

//flex
.flex_center {
  display: flex;
  justify-content: center;
}
.flex_right {
  display: flex;
  justify-content: flex-end;
}
.flex_bw {
  display: flex;
  justify-content: space-between;
}

.half{
  width: calc(50% - 2.5px) !important;
}
.full{
  width: 100% !important;
}

.btn, a.btn{
  @include font(14, 14);
  display: inline-block;
  width: auto;
  min-width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0 15px 0;
  border-radius: 5px;
  background-color: $black;
  color: $white;
  flex-shrink: 0;
  vertical-align: middle;
  &.l_black{
    background-color: $white;
    border: 1px solid $black;
    color: $black;
  }
}
.btn_close{
  @include setCont(20px, 20px, block, relative);
  @include blind;
}
.btn_search{
  @include setCont(20px, 20px, block, relative);
  @include blind;
}
input.ipt{
  @include setCont(100%, 30px, block);
  @include font(14, 14);
  border-radius: 5px;
  border: 1px solid #aaa;
  &::placeholder{
    color: #666;
  }
}