h1{font-size: 24px;}
h2{font-size: 20px;}
h3{font-size: 18px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
h6{font-size: 12px;}

.ellipsis {
  @include ellipsis;
}
.ellipsis2 {
  @include ellipsis("multi");
}
.ellipsis3 {
  @include ellipsis("multi", 3);
}
.ellipsis4 {
  @include ellipsis("multi", 4);
}

.txt_black {
  color: $black !important;
}

.txt_white {
  color: $white !important;
}
.txt_red {
  color: #e02d1b !important;
}
.txt_blue {
  color: #2e59d9 !important;
}
.txt_org{
  color:#f6c23e !important;
}
.txt_gray {
  color: #666 !important;
}
.txt_sky{
  color: #36b9cc !important;
}
.txt_green{
  color: #1cc88a !important;
}


.bg_black{
  background-color: #000 !important;
}
.bg_gray{
  background-color: #eee !important;
}
.bg_blue{
  background-color: #4e73df !important;
}
.bg_red{
  background-color: #e02d1b !important;
}
.bg_sky{
  background-color: #36b9cc !important;
}
.bg_green{
  background-color: #1cc88a !important;
}
.bg_org{
  background-color: #f6c23e !important;
}

.on{
  &:hover{
    opacity: 1 !important;
  }
}

.col2,.col3,.col4,.col5{
  display: flex !important;
  &.wrap{
    flex-wrap: wrap;
  }
  .shrink {
    flex-shrink: 0;
  }
}
.col2 {
  &>.col {
    width: 50%;
  }
}
.col3 {
  &>.col {
    width: 33.3%;
  }
}
.col4 {
  &>.col {
    width: 25%;
  }
}
.col5 {
  &>.col {
    width: 20%;
  }
}

//flex
.flex_center {
  display: flex !important;
  justify-content: center !important;
}
.flex_right {
  display: flex !important;
  justify-content: flex-end !important;
}
.flex_bw {
  display: flex !important;
  justify-content: space-between !important;
}
.flex_a_center{
  display: flex !important;
  align-items: center !important;
  align-content: center !important;
}
.flex_a_end{
  display: flex !important;
  align-items: flex-end !important;
  align-content: flex-end !important;
}
//정렬
.center{
  text-align: center  !important;
}
.left{
  text-align: center !important;
}
.right{
  text-align: right !important;
}

.half{
  width: calc(50% - 2.5px) !important;
}
.full{
  width: 100% !important;
}

p.ui_point{
  font-weight: 600;
  font-size: 15px
}

.ui_scroll{
  .half{
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    border: 1px solid #ddd
  }
}

.scroll{
  @include scroll;
  &.type1{
    @include scroll(5px, #748baa);
  }
}

.btn, a.btn{
  @include font(14, 14);
  display: inline-block;
  width: auto;
  min-width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0 15px 0;
  border-radius: 5px;
  background-color: #4e73df;
  color: $white;
  flex-shrink: 0;
  vertical-align: middle;
  transition: all 300ms;
  &:hover{
    color: $white;
    background-color: #2e59d9;
  }
  &:disabled, &.dis{
    opacity: 0.4;
    cursor: no-drop;
  }
  &.b_sky{
    background-color: #36b9cc;
    &:hover{
      color: $white;
      background-color: #2c9faf;
    }
  }
  &.b_green{
    background-color: #1cc88a;
    &:hover{
      color: $white;
      background-color: #17a673;
    }
  }
  &.b_red{
    background-color: #e74a3b;
    &:hover{
      background-color: #e02d1b;
    }
  }
  &.b_org{
    background-color: #f6c23e;
    &:hover{
      background-color: #f4b619;
    }
  }
  &.b_gray{
    background-color: #999;
    &:hover{
      background-color: #aaa;
    }
  }
  &.b_black{
    background-color: #212832;
    &:hover{
      color: $white;
      background-color: #333;
    }
  }
  &.l_blue{
    background-color: unset;
    color: #4e73df;
    border: 1px solid #4e73df;
    &:hover{
      color: $white;
      background-color: #2e59d9;
    }
  }
  &.l_sky{
    background-color: unset;
    color: #36b9cc;
    border: 1px solid #36b9cc;
    &:hover{
      color: $white;
      background-color: #2c9faf;
    }
  }
  &.l_green{
    background-color: unset;
    color: #1cc88a;
    border: 1px solid #1cc88a;
    &:hover{
      color: $white;
      background-color: #17a673;
    }
  }
  &.l_red{
    background-color: unset;
    color: #e74a3b;
    border: 1px solid #e74a3b;
    &:hover{
      color: $white;
      background-color: #e02d1b;
    }
  }
  &.l_org{
    background-color: unset;
    color: #f6c23e;
    border: 1px solid #f6c23e;
    &:hover{
      color: $white;
      background-color: #f4b619;
    }
  }
  &.l_gray{
    background-color: unset;
    color: #999;
    border: 1px solid #999;
    &:hover{
      color: $white;
      background-color: #999;
    }
  }
  &.l_black{
    background-color: unset;
    color: #212832;
    border: 1px solid #212832;
    &:hover{
    color: $white;
    background-color: #1c222b;
    border-color: #1a2028;
    }
  }
  &.b_sm {
    @include font(10, 10);
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
  }
  &.b_lg {
    @include font(25, 25);
    height: 50px;
    line-height: 50px;
  }
}
.btn_ico{
  @include setCont(20px, 20px, inline-block, relative);
  @include blind;
  flex-shrink: 0;
  border-radius: 3px;
  &:hover{
    opacity: 0.8;
  }
  &.c_white{
    background-color: $blue;
  }
  &.dis, &:disabled{
    background-color: transparent;
    opacity: 0.4;
    cursor: no-drop;
    &:hover{
      opacity: 0.4;
    }
  }
  &.b_search{
    @include bgSvg(icoSearch("000"), no-repeat, 50% 50%, 12px auto);
    &.c_white{
      @include bgSvg(icoSearch("fff"), no-repeat, 50% 50%, 12px auto);
    }
  }
  &.b_close{
    @include bgSvg(icoClose("000"), no-repeat, 50% 50%, 10px auto);
    &.c_white{
      @include bgSvg(icoClose("fff"), no-repeat, 50% 50%, 10px auto);
    }
  }
  &.b_calendar{
    @include bgSvg(icoCalendar("000"), no-repeat, 50% 50%, 12px auto);
    &.c_white{
      @include bgSvg(icoCalendar("fff"), no-repeat, 50% 50%, 12px auto);
    }
  }
  &.b_download{
    @include bgSvg(icoDownload("000"), no-repeat, 50% 50%, 12px auto);
    &.c_white{
      @include bgSvg(icoDownload("fff"), no-repeat, 50% 50%, 12px auto);
    }
  }
  &.b_filter{
    @include bgSvg(icoFilter("000"), no-repeat, 50% 50%, 12px auto);
    &.c_white{
      @include bgSvg(icoFilter("fff"), no-repeat, 50% 50%, 12px auto);
    }
  }
  &.b_add{
    @include bgSvg(icoAdd("000"), no-repeat, 50% 50%, 12px auto);
    &.c_white{
      @include bgSvg(icoAdd("fff"), no-repeat, 50% 50%, 12px auto);
    }
  }
  &.b_subt{
    @include bgSvg(icoSubt("000"), no-repeat, 50% 50%, 12px auto);
    &.c_white{
      @include bgSvg(icoSubt("fff"), no-repeat, 50% 50%, 12px auto);
    }
  }
  &.b_reset{
    @include bgSvg(icoReset("000"), no-repeat, 50% 50%, 12px auto);
    &.c_white{
      @include bgSvg(icoReset("fff"), no-repeat, 50% 50%, 12px auto);
    }
  }
  // &.b_person{
  //   @include bgSvg(icoPerson("000"), no-repeat, 50% 50%, 14px auto);
  //   &.c_white{
  //     @include bgSvg(icoPerson("fff"), no-repeat, 50% 50%, 14px auto, $blue);
  //   }
  // }
  &.b_help{
    @include bgSvg(icoHelp($s_red), no-repeat, 50% 50%, 14px auto);
    &.c_white{
      @include bgSvg(icoHelp("fff"), no-repeat, 50% 50%, 14px auto ,$red);
    }
  }
  &.b_setting{
    @include bgSvg(icoSetting($s_org), no-repeat, 50% 50%, 14px auto);
    &.c_white{
      @include bgSvg(icoSetting("fff"), no-repeat, 50% 50%, 14px auto ,$org);
    }
  }
  &.b_up, &.b_down, &.b_prev, &.b_next{
    &::before{
      @include setCont(20px, 20px, inline-block, absolute);
      @include bgSvg(arrDown("000"), no-repeat, 50% 50%, 12px auto);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.c_white{
      background-color: $blue;
      &::before{
        @include bgSvg(arrDown("fff"), no-repeat, 50% 50%, 12px auto);
      }
    }
  }
  &.b_up{
    &::before{
      transform: translate(-50%, -50%) rotate(-180deg);
    }
  }
  &.b_prev{
    &::before{
      transform: translate(-50%, -50%) rotate(-270deg);
    }
  }
  &.b_next{
    &::before{
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }
}
input.ipt{
  @include setCont(100%, 30px, block);
  @include font(12, 12);
  border-radius: 5px;
  border: 1px solid #aaa;
  &::placeholder{
    color: #666;
  }
}
.bx_search{
  @include setCont(100%, 100%, flex, relative);
  align-items: center;
  border: 1px solid #aaa;
  border-radius: 5px;
  .ipt{
    border: none;

  }
  .btn_search{
    @include setCont(30px, 30px);
    border-radius: 0 5px 5px 0;
    border-left: 1px solid #aaa;
  }
}

.slct{
  display: block;
  position: relative;
  min-width: 140px;
  height: 30px;
  text-align: left;
  // vertical-align: middle;
  letter-spacing: 0;
  .s_tit {
    @include setCont(100%, 100%, block, relative, $white);
    @include ellipsis;
    @include font(12, 12, #666);
    text-align: left;
    align-items: center;
    padding: 0px 33px 0 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    &:after {
      content: "";
      width: 12px;
      height: 100%;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      @include bgSvg(arrDown("666"), no-repeat, 0 50%, 10px auto);
      transition: all 300ms;
    }
  }
  .s_cont {
    @include setCont(100%, null, block, absolute, $white);
    max-height: 0;
    border-radius: 0 0 5px 5px;
    top: 29px;
    padding: 5px 0;
    right: 0;
    border: 1px solid #ddd;
    transition: all 300ms;
    z-index: 1;
    opacity: 0;
    overflow-y: hidden;
    .s_inner{
      @include setCont(100%, 100%,block);
      max-height: 220px;
      overflow-y: auto;
    }
    .item {
      word-wrap: break-word;
      cursor: pointer;
      .i_inner {
        @include font(12, 30,#666);
        @include ellipsis;
        width: 100%;
        display: block;
        padding: 0 15px;
        transition: max-height 300ms;
      }
      &:not(.select):hover{
        background-color: rgba(70,136,247,0.2);
      }
      &.select {
        background-color: rgb(70,136,247);
        a,span{
          color: $white;
          font-weight: $bold;
        }
      }
    }
  }
  &.on {
    .s_tit {
      border-radius: 5px 5px 0 0;
      // border-color: #aaa;
      &:after {
        transform: translateY(-50%) rotate(-180deg);;
      }
    }
    .s_cont {
      visibility: visible;
      max-height: 250px;
      opacity: 1;
      z-index: 50;
      border-color: #aaa;
    }
  }
  &.dis {
    .s_tit {
      background-color: #f0f0f0;
      border: 1px solid #d7d7d7;
      color: #aaa;
      cursor: no-drop;
      &:after{
        @include bgSvg(arrDown("aaa"), no-repeat, 0 50%, 10px auto);
      }
    }
  }
}

.bx_chk, .bx_radio {
  display: inline-block;
  align-items: center;
  label {
    @include font(14, 16, #3D3939);
    display: block;
    position: relative;    
    padding: 0 0 0 24px;
    margin: 0 4px;
    color: $black;
    cursor: pointer;
    transition: all 300ms;
    &::before{
      @include setCont(18px, 18px, block, absolute);
      border: 1px solid #aaa;
      border-radius: 5px;
      box-sizing: border-box;
      top: -1px;
      left: 0;
      z-index: 2;
      transition: background-color 300ms;
    }
    &:hover {
      color: #666;
      &::before{
        opacity: 0.8;
      }
    }
  }
  .radio, .chk{
    display: none;
    &:disabled + label {
      color: #aaa;
      cursor: no-drop;
      &::before{
        background-color: #f0f0f0;
        border: 1px solid #d7d7d7;
      }
      &:hover{
        opacity: 1;
      }
    }
    &:checked {
      &:disabled + label {
        &::before{
          border: 1px solid #d7d7d7;
        }
      }
    }
  }
}
.bx_chk {
  .chk {
    &:checked + label {
      &::before{
        @include bgSvg(chk("fff"), no-repeat, 50% 50%, 8px auto, #3076CB);
        border: none;
      }
    }
    &:checked {
      &:disabled + label {
        &::before{
          @include bgSvg(chk("aaa"), no-repeat, 50% 50%, 8px auto, #f0f0f0);
        }
      }
    }
  }
  &.t_round{
    label {
      &::before{
        @include setCont(18px, 18px);
        top: -2px;
        border-radius: 25px;
        background-size: 8px auto !important;
        background-position: 54% 52% !important;
      }
    }
  }
}
.bx_radio{
  label {
    &::before{
      @include setCont(18px, 18px);
      top: -2px;
      border-radius: 25px;
    }
  }
  .radio {
    &:checked + label {
      &::before{
        border: none;
        background-color: #3076CB;
      }
      &::after{
        @include setCont(8px, 8px, block, absolute, $white);
        border-radius: 25px;
        top: 3px;
        left: 5px;
        z-index: 3;
        transition: all 300ms ease-in;
      }
    }
    &:checked {
      &:disabled + label {
        &::before{
          background-color: #f0f0f0;
        }
        &::after{
          background-color: #fff;
        }
      }
    }
  }
}
.tooltip{
  @include setCont(18px, 18px, inline-block, relative);
  .ico{
    @include setCont(100%, 100%, flex, relative, $blue);
    @include font(10,16, $white, $bold);
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  }
  .desc{
    @include setCont(300px, auto, block, absolute, #fff);
    @include font(12,16, #666);
    border:1px solid rgba(175, 175, 175, 0);
    overflow-y: hidden;
    max-height: 0;
    padding: 0 15px;
    border-radius: 5px;
    top: 18px;
    left: -15px;
    margin-top: 10px;
    z-index: 2;
    opacity: 0;
		transition: all 300ms ease-in;
    p+p{
      margin-top: 5px;
    }
  }
  &.on{
    &:before{
      @include setCont(300px, 10px, block, absolute);
      top: 18px;
      left: -15px;
      opacity: 0;
      z-index: 1;
    }
    .ico{
      &:before, &:after{
        content: "";
        width: 0px;
        height: 0px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 12;
        cursor: auto;
        transition: all 300ms ease-in;
      }
      &:before{
        border-bottom: 10px solid #afafaf;
        // border-bottom: 10px solid $white;
        top: 18px;
        left: 9px;
        z-index: 1;
      }
      &:after{
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 10px solid $white;
        top: 20px;
        left: 9px;
        z-index: 3;
      }
    }
    .desc{
      max-height: 200px;
      padding: 10px 15px;
      overflow-y: auto;
      border:1px solid #afafaf;
      opacity: 1;
    }
  }
}
table{
  @include font(14, 16, $black, 400);
  th, td{
    padding: 5px 5px;
  }
  th{
    @include font(13, 15, $black, 400);
  }
}
.tbl{
  border-top: 1px solid #ddd;
  th, td{
    height: 35px;
  }
  thead{
    th{
      background-color: #efefef;
    }
  }
  tbody{
    td{
      border-bottom: 1px solid #aaa;
    }
  }
}
.tbl_form{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  th, td{
    height: 35px;
    padding: 7px 15px;
    border-bottom: 1px solid #ddd;
  }
  th{
    background-color: #efefef;
  }
}
.taps{
  @include setCont(100%, 35px, flex, relative);
  border-bottom: 1px solid $blue;
  .tap{
    @include setCont(auto, 100%, flex);
    @include font(13, 15, $black, 400);
    justify-content: center;
    align-items: center;
    min-width: 100px;
    padding: 0 15px;
    border: 1px solid $blue;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    color: $blue;
    transition: all 300ms;
    &:hover{
      opacity: 0.6;
    }
    &+.tap{
      border-left: none;
    }
    &.on{
      background-color: $blue;
      color: $white;
    }
  }
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  a, button{
    border-radius: 3px;
    &:hover{
      opacity: 0.6;
    }
  }
  .num{
    min-width: 20px;
    height: 20px;
    display: inline-block;
    padding: 5px 5px 3px;
    @include font(12, 12);
    text-align: center;
    &.on{
      background-color: $blue;
      color: $white;
    }
  }
  .b_prev, .b_next, .b_start, .b_end{
    &::before{
      @include bgSvg(arrDown("333"), no-repeat, 60% 50%, 10px auto);
    }
  }
  .b_start, .b_end{
    @include blind;
    &::before, &::after{
      @include setCont(20px, 20px, inline-block, absolute);
      @include bgSvg(arrDown("333"), no-repeat, 60% 50%, 10px auto);
      top: 50%;
      left: 50%;
    }
    &::before{
      transform: translate(-40%, -50%) rotate(-90deg);
    }
    &::after{
      transform: translate(-60%, -50%) rotate(-90deg);
    }
  }
  .b_start{
    &::before{
      background-position: 40% 50%;
      transform: translate(-40%, -50%) rotate(-270deg);
    }
    &::after{
      background-position: 40% 50%;
      transform: translate(-60%, -50%) rotate(-270deg);
    }
  }
  .b_prev{
    &::before{
      background-position: 40% 50%;
    }
  }
  // .btn_end{
  //   &::before{
  //     transform: translate(-50%, -50%) rotate(-90deg);
  //   }
  //   &::after{
  //     transform: translate(-50%, -50%) rotate(-90deg);
  //   }
  // }
}

.fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }