.app {
  width: 100%;
}
.wrap {
  width: 100%;
  // transition: all 400ms ease;
}
.inner{
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}
br{
  &.mobile{
    display: block;
    @include tablet {
      display: none;
    }
  }
  &.tablet{
    display: none  !important;;
    @include tablet {
      display: block !important;
    }
  }
}
header {
  width: 100%;
  display: flex;
  .left, .right, .center {
    height: 100%;
    display: flex;
    align-items: center;
  }
}