.popup{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
  color: $black;
  .p_inner {
    position: fixed;
    // width: 90%;
    min-width: 300px;
    max-width: 400px;
    min-height: 170px;
    max-height: 90%;
    display: flex;
    flex-direction: column; 
    overflow-x: hidden;
    overflow-y: auto;
    background: $white;
    box-sizing: border-box;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 150ms;
    align-content: space-between;
    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
  }
  .btn_close {
    @include setCont(18px, 18px, block, absolute);
    top: 15px;
    right: 15px;
    z-index: 2;
  }
  .tit {
    padding-top: 17px;
    padding-left: 20px;
    padding-bottom: 10.5px;
    border-bottom: 1px solid #ddd;
    h3 {
      @include font(18, 21);
    }
  }
  .content{
    @include setCont(100%, null, flex, relative);
    min-height: 160px;
    margin: 0;
    padding: 35px 20px 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    @include font(14, 16);
    h2{
      @include font(20, 24);
      text-align: center;
      margin-bottom: 10px;
    }
    h3{
      width: 100%;
      @include font(18, 20);
      text-align: left;
      padding: 15px 20px;
      border-bottom: 1px solid border;
    }
    .cont{
      @include setCont(null, null, block, relative);
      @include font(15, 18);
      text-align: center;
      p{
        @include font(12,15);
        &+ul{
          margin-top: 6px
        }
        @include tablet {
          @include font(15, 18);
          br{
            display: block;
          }
        }
      }
      ul {
        text-align: left;
        @include font(12,15);
        br{
          display: none;
        }
        &+p{
          margin-top: 6px
        }
        @include tablet {
          @include font(15, 18);
          br{
            display: block;
          }
        }
        li {
          padding-left: 9px;
          position: relative;
          &:before{
            @include setCont(4px, 4px, block, absolute, #969696);
            top: 6px;
            left: 0;
            border-radius: 25px;
          }
          &+li{
            margin-top: 5px;
          }
          span {
            color: #2E79EB;
            font-weight: bold;
          }
        }
      }
      p{
        width: 100%;
        &+p{
          margin-top: 10px;
        }
      }
      .txt_red{
        display: inline-block;
        width: auto;
        padding-left: 21px;
        @include bgSvg(icoAlert("EA0000"), no-repeat, 0 0, 16px 18px);
      }
      .txt_blue {
        color: #2E79EB;
        font-weight: bold;
      }
    }
  }
}